{{#with keys as |keys|}}
<textarea id="write" class="screen" rows="6" cols="60"></textarea>
<ul id="keyboard" class="keyboard">
    <li class="symbol">{{keys.[0]}}</li>
    <li class="symbol">{{keys.[1]}}</li>
    <li class="symbol">{{keys.[2]}}</li>
    <li class="symbol">{{keys.[3]}}</li>
    <li class="symbol">{{keys.[4]}}</li>
    <li class="symbol">{{keys.[5]}}</li>
    <li class="symbol">{{keys.[6]}}</li>
    <li class="symbol">{{keys.[7]}}</li>
    <li class="symbol">{{keys.[8]}}</li>
    <li class="symbol">{{keys.[9]}}</li>
    <li class="symbol">{{keys.[10]}}</li>
    <li class="symbol">{{keys.[11]}}</li>
    <li class="symbol">{{keys.[12]}}</li>
    <li class="delete">удалять</li>
    <li class="tab">табуляция</li>
    <li class="letter">{{keys.[13]}}</li>
    <li class="letter">{{keys.[14]}}</li>
    <li class="letter">{{keys.[15]}}</li>
    <li class="letter">{{keys.[16]}}</li>
    <li class="letter">{{keys.[17]}}</li>
    <li class="letter">{{keys.[18]}}</li>
    <li class="letter">{{keys.[19]}}</li>
    <li class="letter">{{keys.[20]}}</li>
    <li class="letter">{{keys.[21]}}</li>
    <li class="letter">{{keys.[22]}}</li>
    <li class="symbol">{{keys.[23]}}</li>
    <li class="symbol">{{keys.[24]}}</li>
    <li class="symbol">{{keys.[25]}}</li>
    <li class="capslock">заглушки</li>
    <li class="letter">{{keys.[26]}}</li>
    <li class="letter">{{keys.[27]}}</li>
    <li class="letter">{{keys.[28]}}</li>
    <li class="letter">{{keys.[29]}}</li>
    <li class="letter">{{keys.[30]}}</li>
    <li class="letter">{{keys.[31]}}</li>
    <li class="letter">{{keys.[32]}}</li>
    <li class="letter">{{keys.[33]}}</li>
    <li class="letter">{{keys.[34]}}</li>
    <li class="symbol">{{keys.[35]}}</li>
    <li class="symbol">{{keys.[36]}}</li>
    <li class="return">новая линия</li>
    <li class="shift">капитал.</li>
    <li class="letter">{{keys.[37]}}</li>
    <li class="letter">{{keys.[38]}}</li>
    <li class="letter">{{keys.[39]}}</li>
    <li class="letter">{{keys.[40]}}</li>
    <li class="letter">{{keys.[41]}}</li>
    <li class="letter">{{keys.[42]}}</li>
    <li class="letter">{{keys.[43]}}</li>
    <li class="symbol">{{keys.[44]}}</li>
    <li class="symbol">{{keys.[45]}}</li>
    <li class="symbol">{{keys.[46]}}</li>
    <li class="shift">капитал.</li>
    <li class="space">пробел</li>
</ul>
{{/with}}
