{{#with keys as |keys|}}
  <textarea id="write" class="screen" rows="6" cols="60"></textarea>
  <ul id="keyboard" class="keyboard">
      <li id="Backquote" class="symbol">{{keys.[0]}}</li>
      <li id="Digit1" class="symbol">{{keys.[1]}}</li>
      <li id="Digit2" class="symbol">{{keys.[2]}}</li>
      <li id="Digit3" class="symbol">{{keys.[3]}}</li>
      <li id="Digit4" class="symbol">{{keys.[4]}}</li>
      <li id="Digit5" class="symbol">{{keys.[5]}}</li>
      <li id="Digit6" class="symbol">{{keys.[6]}}</li>
      <li id="Digit7" class="symbol">{{keys.[7]}}</li>
      <li id="Digit8" class="symbol">{{keys.[8]}}</li>
      <li id="Digit9" class="symbol">{{keys.[9]}}</li>
      <li id="Digit0" class="symbol">{{keys.[10]}}</li>
      <li id="Minus" class="symbol">{{keys.[11]}}</li>
      <li id="Equal" class="symbol">{{keys.[12]}}</li>
      <li id="Backspace" class="delete">удалять</li>
      <li id="Tab" class="tab">табуляция</li>
      <li id="KeyQ" class="letter">{{keys.[13]}}</li>
      <li id="KeyW" class="letter">{{keys.[14]}}</li>
      <li id="KeyE" class="letter">{{keys.[15]}}</li>
      <li id="KeyR" class="letter">{{keys.[16]}}</li>
      <li id="KeyT" class="letter">{{keys.[17]}}</li>
      <li id="KeyY" class="letter">{{keys.[18]}}</li>
      <li id="KeyU" class="letter">{{keys.[19]}}</li>
      <li id="KeyI" class="letter">{{keys.[20]}}</li>
      <li id="KeyO" class="letter">{{keys.[21]}}</li>
      <li id="KeyP" class="letter">{{keys.[22]}}</li>
      <li id="BracketLeft" class="symbol">{{keys.[23]}}</li>
      <li id="BracketRight" class="symbol">{{keys.[24]}}</li>
      <li id="Backslash" class="symbol">{{keys.[25]}}</li>
      <li id="CapsLock" class="capslock">заглушки</li>
      <li id="KeyA" class="letter">{{keys.[26]}}</li>
      <li id="KeyS" class="letter">{{keys.[27]}}</li>
      <li id="KeyD" class="letter">{{keys.[28]}}</li>
      <li id="KeyF" class="letter">{{keys.[29]}}</li>
      <li id="KeyG" class="letter">{{keys.[30]}}</li>
      <li id="KeyH" class="letter">{{keys.[31]}}</li>
      <li id="KeyJ" class="letter">{{keys.[32]}}</li>
      <li id="KeyK" class="letter">{{keys.[33]}}</li>
      <li id="KeyL" class="letter">{{keys.[34]}}</li>
      <li id="Semicolon" class="letter">{{keys.[35]}}</li>
      <li id="Quote" class="letter">{{keys.[36]}}</li>
      <li id="Enter" class="return">новая линия</li>
      <li id="ShiftLeft" class="shift">капитал.</li>
      <li id="KeyZ" class="letter">{{keys.[37]}}</li>
      <li id="KeyX" class="letter">{{keys.[38]}}</li>
      <li id="KeyC" class="letter">{{keys.[39]}}</li>
      <li id="KeyV" class="letter">{{keys.[40]}}</li>
      <li id="KeyB" class="letter">{{keys.[41]}}</li>
      <li id="KeyN" class="letter">{{keys.[42]}}</li>
      <li id="KeyM" class="letter">{{keys.[43]}}</li>
      <li id="Comma" class="symbol">{{keys.[44]}}</li>
      <li id="Period" class="symbol">{{keys.[45]}}</li>
      <li id="Slash" class="symbol">{{keys.[46]}}</li>
      <li id="ShiftRight" class="shift">капитал.</li>
      <li id="Space" class="space">пробел</li>
  </ul>
{{/with}}
